# Compilados
bin/
target/
out/
*.class

# Bibliotecas locais
# (o driver ojdbc11.jar fica versionado em lib/ para o projeto rodar sem Maven)

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
